{% extends "base.html" %}
<!-- Andre Barnett - 22025153 -->
{%block body%}
<div class = "loginbox">

    <div class = "container pt-5 pb-5">
        <div class = "row">
            <div class = "col-md-4 bg-white m-auto rounded wrapper">
                <h3 class = "text-center pt-3">Select {{SeatAmount}} Seats </h3>
                <h5 class = "text-center pt-3 pb-3"> Book SeatID 1 to 80 for Economy or from 80 to 120 for Buisness Class  </h5>
                <!--Form Start-->
                <form action = "/bookingpart2/" method = "POST">
                    {% for y in range (1 , (SeatAmount) + 1) %}
                    <div class = "input group mb-3">
                        <input type = "number" class = "form-control" required = "True" placeholder= "SeatID {{y}}" name = "SeatID{{y}}" min = 1 max = 120>
                    </div>
                    {%endfor%}
                    
                <!--Form Button-->
                <div class = "d-grid mb-3">
                    <button type = "submit"  class = "btn btn-success">Next</button>
                    </div>
                <!--Form Close-->
                </form>
                <p class = "text-center error" > {{error}} </p>
            </div>
        </div>
    </div>
</div>
{%endblock%}