{% extends "base.html" %}                       <!--TEST BASE-->      
<!-- Andre Barnett - 22025153 -->
{%block body%}
<body onload="initialdate() ">
<div class = "booking">

    <div class = "container mb-5">
        <div class = "row">
            <div class = "col-lg-4 bg-white m-auto rounded wrapper">
                <h3 class = "text-center pt-3">Booking</h3>
                <h5 class = "text">Departure City</h5>
                <form action = "/booking/" method = "POST">
                <select class="form-select mb-2"  onchange= "getarrivalcity(this.value)" name = "DepartureCity" >
                    {% for departure in DepartureCity %}
                    <option value="{{departure}}"> {{departure}} </option>	    
                    {% endfor %}
                </select>

                <h5 class = "text">Arrival City</h5>

                <select class="form-select mb-2" id="ArrivalCity"  required name = "ArrivalCity" >  </select>


                
                <h5 class = "text">Leave Date</h5>
                <input class="form-select mb-2" type="date" required  id = "LeaveDate" name = "LeaveDate" onchange = "setenddate()">

                <h5 class = text>Return Date </h5>
                <input class = "form-select mb-2" type="date"  required id = "ReturnDate" name = "ReturnDate" >

                <h5 class = "text">Number Of Seats</h5>
                <div class = "input-group mb-2">
                    <input type = "number"   class = "form-control" required name = "SeatAmount" min = 1 max = 10>
                </div>



                <div class = "d-grid mb-3">
                    <button type = "submit"  class = "btn btn-success">Next</button>
                    </div>

                <!--Form End-->
                
                </form>

            </div>
        </div>
    </div>
</div>


{%endblock%}
