{%extends "base.html" %}
<!-- Andre Barnett - 22025153 -->
{% block body%}
<div class = "cardbox">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 bg-white  m-auto rounded wrapper">
                <h2 class = "text-center pt-3">Card Payment</h2>

                <!-- Start of the form-->
                <form action="/payment/" method="post">
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "Card Number"  name = "CardNumber" >
                    </div>
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "MM / YY"  name = "ExpiryDate" >
                    </div>
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "CVV" name = "CVV" >
                    </div>
                    <div class = "input-group mb-2">
                        <input type="password" class = "form-control" placeholder = "Post Code" name = "PostCode">
                    </div>
                    <!--button-->
                    <div class="d-grid mb-3">
                        <button type = "submit" class = "btn btn-success">Confirm Payment</button>
                    </div>
                </form>
{% endblock %}