{% extends "base.html" %}                       <!--TEST BASE-->      
<!-- Andre Barnett - 22025153 -->
{%block body%}
<body onload="initialdate() ">
<div class = "receipt">

    <div class = "container pb-5">
        <div class = "row">
            <div class = "col-lg-4 bg-white m-auto rounded wrapper">
                <h3 class = "text-center pt-3">Online Receipt</h3>
                <h5 class = "text-center">Thanks for flying with us!</h5>
                
                <form action = "/index/">

                    <h5 class = "text pt-4"> Seats Booked:</h5>

                    {% for ID in SeatList %}
                    <input type="text" class="form-control mb-2" placeholder="Seat ID: {{ID}}" Disabled>
                    {%endfor%}

                    <h5 class = "text pt-2"> Departure Airport: </h5>
                    <input type="text" class="form-control mb-2" placeholder="{{Departure}}" Disabled>

                    <h5 class = "text pt-2"> Arrival Airport: </h5>
                    <input type="text" class="form-control mb-2" placeholder="{{Arrival}}" Disabled>

                    <h5 class = "text pt-2"> Leave Date: </h5>
                    <input type="text" class="form-control mb-2" placeholder="{{LeaveDate}}" Disabled>

                    <h5 class = "text pt-2"> Return Date: </h5>
                    <input type="text" class="form-control mb-2" placeholder="{{ReturnDate}}" Disabled>

                    <h5 class = "text pt-2"> Total Price: </h5>
                    <input type="text" class="form-control mb-2" placeholder="£{{Price}}" Disabled>

                    <div class = "d-grid mb-3 mt-3">
                        <button type = "submit"  class = "btn btn-success">Return To Home</button>
                        </div>

                </form>

            </div>
        </div>
    </div>
</div>


{%endblock%}
