
{%extends "base.html" %}
<!-- Andre Barnett - 22025153 -->
{%block body%}

<div class = "signupbox">
    <div class = "container">
        <div class = "row">
            <div class = "col-md-4 bg-white  m-auto rounded wrapper">
                <h2 class = "text-center pt-3">Welcome!</h2>
                <p class = "text-center text-muted lead">Sign Up Free and Quickly Here</p>

                <!-- Start of the form-->
                <form action="/register/" method="post">
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "First Name"  name = "UserFname" value = "{{request.form.UserFname}}" required>
                    </div>
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "Last Name"  name = "UserLname" value = "{{request.form.UserLname}}" required>
                    </div>
                    <div class = "input-group mb-2">
                        <input type="text" class = "form-control" placeholder = "Email Address" name = "UserEmail" value = "{{request.form.UserEmail}}"  required>
                    </div>
                    <div class = "input-group mb-2">
                        <input type="password" class = "form-control" placeholder = "Password" name = "UserPassword" value = "{{request.form.UserPassword}}" required>
                    </div>
                    

                    <p class = "text-center text-muted mt-2">
                        When you register by clicking the SignUp Button, You agree to our <a href = "{{url_for('privacy')}}">Privacy Policy</a> <input type = "checkbox" required> 
                    </p>

                    <!--button-->
                    <div class="d-grid">
                        <button type = "submit" value = "Register" class = "btn btn-success">SignUp Now</button>
                        
                        <p class = "text-center pt-3">Already Have an Account? <a href="{{url_for('login')}}"> Login Here</p>
                        
                        <p class = "text-center error">{{error}}</p>
                        <p class = "text-center success">{{success}}</p>
                    </div>
                </form>
                <!--End of form-->
        </div>
</div>





{%endblock%}


