/* Andre Barnett - 22025153 */
body  {
  background-image:url('mainbackground.png');
  
}

.wrapper {
  border: 03px solid green;
}

.wrapper a{
  text-decoration:none;
  color: green;
}

.squarebox{
  
  max-width: 600;
  max-height: 600;
  border: 1px solid #333;
  
}

.loginbox{

  position:relative;
  top: 150px;
}

.signupbox{

  position:relative;
  top: 100px;
  height: 650px;
}

.homeslide{

  position:relative;
  max-width: 800px;
  max-height: 500px;
  top: 100px;
  margin-right: auto;
  margin-left: auto;
  border: 03px solid green;

}



.textcustom{
  color: green;
}

.aboutus{
  position:relative;
  border: 03px solid green;
  height: 1200px;
  top:300px;
  
  

}

.title{
  position:relative;
  top:65px;
  margin-right:auto;
  margin-left:auto;
  text-decoration-line: underline;
  color:green;
}

.error{
  color:red;
}

.success{
  color:green;
}

.booking{
  position:relative;
  top: 100px;
  margin-right:auto;
  margin-left:auto;
  
}

.cardbox{
  position:relative;
  top: 200px;
  margin-right:auto;
  margin-left:auto;
  
}

.receipt{
  position:relative;
  top: 100px;
  margin-right:auto;
  margin-left:auto;
  height: 800px;

}

.ajourney{
  position:relative;
  top: 100px;
  left: 50px;
  background: white;
  height: 350px;
  width: 300px;
  border: 03px solid green;
}


.djourney{
  position:relative;
  left: 50px;
  background: white;
  height: 150;
  width: 300px;
  border: 03px solid green;
}

.duser{
  position:relative;
  top: 75px;
  left: 50px;
  background: white;
  height: 150px;
  width: 300px;
  border: 03px solid green;



}

.adminpage{
  height: 1000px;
}

.adminmsg{
  position:relative;
  top:150px;
  left: 700px;
  background: white;
  height: 150px;
  width: 300px;
  border: 03px solid green;
}

.userbookings{
  position:relative;
  top: 100px;
  margin-top: auto;
  /* height: 600px; */
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  max-height: 2000px;


}

.cancelbooking{
  position:relative;
  top: 100px;
  height: 300px;
  width: 300px;
}

.mreport{
  position:absolute;
  top: 200px;
  height: 250px;
  width: 250px;
  left: 700px;
  margin-left: auto;
  margin-right: auto;
}