.register-form {
  border: 2px solid;
  height: auto;
  margin: auto;
  background-color: black;
  box-sizing: border-box;
  color: grey;
  opacity: 0.8;
}

.register-form-container {
  box-sizing: content-box;
  height: auto;
  width: 1000px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: black;
  opacity: 0.95;
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: auto;
  width: 650px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
  border: 3px solid white;
}

.login-form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  height: auto;
  width: 650px;
  color: white;
  text-align: center;
  font-weight: bold;
  background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
  border: 3px solid white;
}

.AdminUserPos{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.AdmiFoodPos{
  position: absolute;
  top: 35%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.AdminRestaurantPos{
  position: absolute;
  top: 35%;
  left: 70%;
  transform: translate(-50%, -50%);
}

.AdminWarehousePos{
  position: absolute;
  top: 75%;
  left: 30%;
  transform: translate(-50%, -50%);
}

.AdminFoodPos{
  position: absolute;
  top: 75%;
  left: 70%;
  transform: translate(-50%, -50%);
}


.AdminBox{

  width: 250px;
  height: 250px;
  border: 3px solid white;
  background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
  color: white;         /* Set the text Color */
  text-decoration-line: underline;
  

}

  .AdminBox button {
    margin: 20px auto; /* Center the buttons horizontally */ 
    display: block;
    font-size: 16px;
    color: rgba(33, 37, 41);
    background-color: white;
    border-color: white;

  }


.title {

  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 50px;
  text-decoration: underline;
}

.custom-checkbox {


  appearance: none; /* Removes default styles */
  width: 15px;
  height: 15px;
  border: 2px solid #ccc; /* Border color */
  border-radius: 4px; /* Rounded corners */
  cursor: pointer;
  background-color: white;
  border-color: white;
  
  
}

.custom-checkbox:checked {
  background-color: white; /* Background color when checked */
}

.custom-checkbox:checked::before {
  content: 'X'; /* Unicode character for a tick mark */
  display: block;
  width: 100%;
  height: 100%;
  font-size: 12px; /* Adjust size of the tick mark */
  line-height: 15px;
  text-align: center;
  color: black; /* Tick mark color */
}

.reservation-holder{

  position: absolute;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 1000px;

}

.reservation-holder table{
  width: 100%;
  
  border: 2px solid white; /* Thick white outline */
  color: white; /* Text color */
  background-color: rgba(33, 37, 41);
}


.reservation-options{
  
  position: absolute;
  top: 50%;
  left: 85%;
  transform: translate(-50%, -50%);
}

.menu-holder{

  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  width: 1000px;

}

.menu-holder table{
  width: 100%;
  
  border: 2px solid white; /* Thick white outline */
  color: white; /* Text color */
  background-color: rgba(33, 37, 41);
}


.StandardBox {
  
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  height: auto;
  border: 3px solid white;
  background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
  color: white;         /* Set the text Color */
  text-align: center;
  
}

.StandardBox button {
  background-color: white;
  border-color: white;
  color: rgba(33, 37, 41);
}

.StandardBox input {
  background-color: white;
  border-color: white;
  
}


.StandardBox select {

  background-color: white;
  border-color: white;
  color: rgba(33, 37, 41);
}


.StandardBox table {

  width: 600px;
  
  border: 2px solid white; /* Thick white outline */
  color: white; /* Text color */

}
  /* Style for table headings */
  th, td {
    border: 2px solid white; 
    padding: 10px;
    text-align: center;
  }

.StandardBox h1 {
  font-size: 60px;
}
.datetime-selector {
  color: rgba(33, 37, 41);
}

.heading {

  text-decoration: underline;
  font-weight: bold;


}


.flash{
  list-style: none;
  padding: 0;
  margin: 0;
  position: fixed; /* Fixed position to keep the messages visible even when scrolling */
  top: 70px; /* Adjust as needed */
  left: 20px; /* Adjust as needed */
  z-index: 9999; /* Ensure messages are displayed on top of other content */
}

  .black {

  color: rgba(33, 37, 41);
}

.white{
  color:white;
}

body {
  /* background-image: url('mainpagebg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed; */

  margin: 0;
  padding: 0;
}

body.page1 {
  background-image: url('congruent_outline.png');

}

body.page2 {
  background-image: url('mainpagebg3.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

* {
  box-sizing: border-box;
}
.row:after {
  content: "";
  clear: both;
  display: block;
}
[class*="col-"] {
  float: left;
  padding: 15px;
}

[class*="col-"] {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  /* For mobiles: */

  .AdminBox {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
    color: white;         /* Set the text Color */
    text-decoration-line: underline;
    margin: 100px;
  }

  .AdminBox button {
    margin: 15px auto; /* Center the buttons horizontally */ 
    display: block;
    font-size: 14px;
    color: rgba(33, 37, 41);
    background-color: white;
    border-color: white;

  }



/* Default position for all elements */
.AdminElement {
  position: absolute;
  transform: translate(-50%, -50%);
}

/* Position for AdminUserPos */
.AdminUserPos {
  top: 100%; /* Adjusted from 35% for mobile */
  left: 50%; /* Center horizontally */
}


/* Position for AdminRestaurantPos */
.AdminRestaurantPos {
  top: 150%; /* Adjusted from 35% for mobile */
  left: 50%; /* Center horizontally */
}

/* Position for AdminWarehousePos */
.AdminWarehousePos {
  top: 200%; /* Adjusted from 75% for mobile */
  left: 50%; /* Center horizontally */
}

/* Position for AdminFoodPos */
.AdminFoodPos {
  top: 250%; /* Adjusted from 75% for mobile */
  left: 50%; /* Center horizontally */
}




  
}

@media only screen and (min-width: 769px) and (max-width: 1300px) {
  /* For tablets: */



  .AdminBox {
    width: 200px;
    height: 200px;
    border: 3px solid white;
    background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
    color: white;         /* Set the text Color */
    text-decoration-line: underline;
  }

  .AdminBox button {
    margin: 15px auto; /* Center the buttons horizontally */ 
    display: block;
    font-size: 14px;
    color: rgba(33, 37, 41);
    background-color: white;
    border-color: white;

  }


  .txt-size {
    font-size: 20px;
  }



  .reservation-holder{

    position: absolute;
    top: 30%;
    left: 40%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 650px;
  
  }
  
  .reservation-holder table{
    width: 100%;
    
    border: 2px solid white; /* Thick white outline */
    color: white; /* Text color */
    background-color: rgba(33, 37, 41);
  }
  
  
  .reservation-options{
    
    position: absolute;
    top: 50%;
    left: 85%;
    transform: translate(-50%, -50%);
  }

  .title {

    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 35px;
    text-decoration: underline;
  }


  .menu-holder{

    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: auto;
    width: 700px;
  
  }
  
  .menu-holder table{
    width: 100%;
    
    border: 2px solid white; /* Thick white outline */
    color: white; /* Text color */
    background-color: rgba(33, 37, 41);
  }

  .StandardBox {
  
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 600px;
    height: auto;
    border: 3px solid white;
    background-color: rgba(33, 37, 41); /* Adjust opacity as needed */
    color: white;         /* Set the text Color */
    text-align: center;
    margin-top: 20px;
    
  }




}
@media only screen and (min-width: 1300px) {
  /* For desktop: */






}

.center {
margin-left: auto;
margin-right: auto;
}

.homeBox {
  border: solid 1px;
  margin-right: 200px;
  background-color: black;
  color: white;
  height: 100px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}

.receiptBox {
  border: solid 1px;
  margin-right: 200px;
  background-color: black;
  color: white;
  height: auto;
  width: fit-content;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}

.resourcesBox {
  border: solid 1px;
  margin-right: 200px;
  background-color: black;
  color: white;
  height: auto;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  opacity: 0.9;
}

.footer {
  bottom: 0;
  left:0;
  width: 100%;
  background-color:  rgba(33, 37, 41);
  color: white;
  opacity: 0.9;

}



:root {
  --scrollbar-track-color: #333; /* scrollbar track */
  --scrollbar-thumb-color: #666; /* scrollbar thumb */
  --scrollbar-corner-color: #333; /* scrollbar corner */
}

/* Style the scrollbar for WebKit (Chrome, Safari, Opera) */
::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

/* Style the scrollbar track */
::-webkit-scrollbar-track {
  background-color: var(--scrollbar-track-color);
}

/* Style the scrollbar thumb */
::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}

/* Style the scrollbar corner */
::-webkit-scrollbar-corner {
  background-color: var(--scrollbar-corner-color);
}

/* Style the scrollbar track */
html {
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color);
}

/* Style the scrollbar thumb */
html::-webkit-scrollbar-thumb {
  background-color: var(--scrollbar-thumb-color);
}