{% extends "layout.html" %} 
{% block content %}
        <!--change restaurant form-->
        <form action="/changeBaseRestaurant/" method="post">
          <section class="vh-100">
            <div class="container h-100">
              <div class="row-d-flex justify-content-center">
                <div class="register-form-container col-11 col-m-11 col-x-11">
                  <div class="form-group">
                      <label for="base">Base Restaurant:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                      <select style="color:black" name="base" id="base">
                        {% for restaurant in restaurants %}
                        {% if restaurant == oldBR %}
                            <option selected="selected" value='{{restaurant}}'>{{ restaurant }}</option>
                        {% else %}
                            <option value='{{restaurant}}'>{{ restaurant }}</option>
                        {% endif %}
                        {% endfor %}
                      </select>
                    </div>
                    <form><input style="color:black" type="submit" value="Change Base Restaurant" size="100"></form>
                </div>
              </div>
              <br><br><br>
            </section>
          </form>
{% endblock content %}