{% extends "layout.html" %} 
{% block content %}

<div class = "StandardBox">

    <h3 class="text-center pt-3 heading">Add A New Item To The Inventory Here</h3> <br>
  
    <form action="" method="post">
  
        <div class="form-group">
            <label for="itemName">Food:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
            <select style="color:black" name="itemName" id="itemName">
                {% for i in range(listLen): %} 
                <option value='{{items[i]}}'>{{items[i]}}</option>
              {% endfor %}
            </select>
          </div>

    <div class="form-group">
        <label for="itemQuantity">Quantity: &nbsp; &nbsp;<br></label>
        <input required style="color:black" id="itemQuantity" min="1" type="number" class="itemQuantity" name="itemQuantity" size="30" value="{{request.form.itemQuantity}}"><br>
    </div>

    <div class="form-group">
        <label for="itemSL">StockLimit: &nbsp; &nbsp;<br></label>
        <input required style="color:black" id="itemSL" min="1"   type="number" class="itemSL" name="itemSL" size="30" value="{{request.form.itemSL}}"><br>
    </div>
  
          <div class = "d-grid mb-3">
            <button type = "submit"  class = "btn btn-light black">submit</button>
            </div> <br>
  
  </div>
  
  </div>
  
  </div>


{% endblock content %}