{% extends "layout.html" %} 
{% block content %}

<div class = "StandardBox">

    <h3 class="text-center pt-3 heading">Add A New Food Item Here</h3> <br>
  
    <form action="/createFoodMenu/" method="post">
  
    <div class="form-group">
        <label for="foodName">Food Name: &nbsp; &nbsp;<br></label>
        <input required style="color:black" class="foodName" name="foodName" size="30" value="{{request.form.foodName}}"><br>
    </div>

      
    <div class="form-group">
        <label for="foodAllergy">Allergies Description: <br></label>
        <input required style="color:black" class="foodAllergy" name="foodAllergy"  size="30" value="{{request.form.foodAllergy}}"><br>
    </div>

    <div class="form-group">
        <label for="priceOfFood">Price: &nbsp; &nbsp;<br></label>
        <input required style="color:black" id="priceOfFood" min="1" step='0.01' value='0.00' placeholder='0.00' type="number" class="priceOfFood" name="priceOfFood" size="30" value="{{request.form.priceOfFood}}"><br>
    </div>
  
          <div class = "d-grid mb-3">
            <button type = "submit"  class = "btn btn-light black">submit</button>
            </div> <br>
  
  </div>
  
  </div>
  
  </div>


{% endblock content %}