{% extends "layout.html" %} 
{% block content %}

<form action="/deleteFood2/" method="post">
    <div class="StandardBox">

        <h3 class="text-center pt-3 heading">Delete Item From Food Here</h3> <br>

            <table border=1 style="color:rgb(255, 255, 255)" class="center">
                    <tr>
                        <th class = "hidden text-center" style = "width: 30%;">ID</th>
                        <th class = "text-center" style = "width: 30%;">Name</th>
                        <th class = "text-center" style = "width: 30%;">Price</th>
                        <th class = "text-center" style = "width: 10%;"> Select</th>
                        
                        {% for i in range(listLen): %} 
                        <tr>
                            <td> {{foodName[i]}} </td>
                            <td> {{foodPrice[i]}} </td>              
                            <td> <input required type="radio" name="foodName" value="{{foodName[i]}}" checked></td>
                        </tr>
                    {% endfor %}
        
                </table>
                <br><br>


                <form>
                    
                    <div class = "d-grid mb-3">
                        <button type = "submit"  class = "btn btn-light black">Submit</button>
                        </div>
                        <br>
            </div>
    </div>
</form>

<br>


{% endblock content %}