{% extends "layout.html" %} 
{% block content %} 

<form action="/deleteDiscount2/" method="post">
    <div class="StandardBox">

        <h3 class="text-center pt-3 heading">Choose A Discount To Update Here</h3> <br>

            <table border=1 style="color:rgb(255, 255, 255)" class="center">
                    <tr>
                        <th class = "text-center" style = "width: 30%;">Discount ID &nbsp;&nbsp;</th>
                        <th class = "text-center" style = "width: 30%;">Discount Value &nbsp;&nbsp;</th>
                        <th class = "text-center" style = "width: 10%;"> Select</th>
                        {% for i in range(discountsLen): %} 
                        <tr>
                            <td> {{dIDs[i]}} </td>              
                            <td> {{dValues[i]}} </td>
                            <td> <input required type="radio" name="selected" value="{{dIDs[i]}}" checked></td>
                        </tr>
                    {% endfor %}
                </table>
                <br><br>


                <form>
                    
                    <div class = "d-grid mb-3">
                        <button type = "submit"  class = "btn btn-light black">Submit</button>
                        </div>
                        <br>
            </div>
    </div>
</form>

<br>
{% endblock content %}