{% extends "layout.html" %} 
{% block content %} 
<form action="/deleteReservation2/" method="post">
    <div class="StandardBox">

        <h3 class="text-center pt-3 heading">Choose A Reservation To Delete Here</h3> <br>

            <table border=1 style="color:rgb(255, 255, 255)" class="center">
                <tr>
                    <tr>
                        <th class="hidden">reservationID</th>
                        <th class = "text-center" style = "width: 20%;">Name</th>
                        <th class = "text-center" style = "width: 30%;">Tables</th>
                        <th class = "text-center" style = "width: 25%;">Start Time</th>
                        <th class = "text-center" style = "width: 25%;">End Time</th>
                        <th class = "text-center" style = "width: 10%;"> Select</th>
                    </tr>
            
                        {% for i in range(listLen): %} 
                            <tr>
                                <td class="hidden"> {{reservationID[i]}} </td>
                                <td> {{Name[i]}} </td>              
                                <td> {{tables[i]}} </td>
                                <td> {{startTime[i]}} </td>
                                <td> {{endTime[i]}} </td>
                                <td> <input required type="radio" name="reservationID" value="{{reservationID[i]}}" checked></td>
                            </tr>
                        {% endfor %}

            </table>
                <br><br>


                <form>
                    
                    <div class = "d-grid mb-3">
                        <button type = "submit"  class = "btn btn-light black">Submit</button>
                        </div>
                        <br>
            </div>
    </div>
</form>

<br>






{% endblock content %}