<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
      <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% if title %}
            <title>Horizon Restaurant - {{ title }}</title>
        {% else %}
            <title>Horizon Restaurant</title>
        {% endif %}
        </head>
    {% block body %}
    <body class = "page1">
    {% endblock body %}
        <!--nav bar-->
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
              <ul class="nav navbar-nav">
                {% if logged_in == True: %} 
                <div class="navbar-header">
                  <a class="navbar-brand" href="{{ url_for('home') }}">Horizon Restaurant</a>
                </div>
                  {% if authLevel == 'admin': %} 
                    <li><a href="{{ url_for('adminOptions') }}">Admin</a></li>

                    <li class="dropdown">
                      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports
                          <span class="caret"></span>
                      </a>
                      <ul class="dropdown-menu">
                          <li><a href="{{ url_for('viewSalesReport') }}">View Sales Report</a></li>
                          <li><a href="{{ url_for('viewAverageSalesReport') }}">View Average Sales Report</a></li>
                          <li><a href="{{ url_for('viewAverageServingReport') }}">View Average Serving Time Report</a></li>
                          <li><a href="{{ url_for('viewTotalDiscountReport') }}">View Total Discount Amount Report</a></li>
                          <li><a href="{{ url_for('viewAverageDiscountReport') }}">View Average Discount Amount Report</a></li>
                      </ul>
                  </li>
                    

                  {% endif %}

                  {% if authLevel == 'chef' : %}
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit Menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('createFoodMenu') }}">Add To Menu</a></li>
                        <li><a href="{{ url_for('updateFoodMenu') }}">Update The Menu</a></li>
                        <li><a href="{{ url_for('deleteFoodMenu') }}">Delete From Menu</a></li>

                    </ul>
                </li>
                  {% endif %}


                  {% if authLevel == 'manager' : %}


                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Reports
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('viewSalesReport') }}">View Sales Report</a></li>
                        <li><a href="{{ url_for('viewAverageSalesReport') }}">View Average Sales Report</a></li>
                        <li><a href="{{ url_for('viewAverageServingReport') }}">View Average Serving Time Report</a></li>
                        <li><a href="{{ url_for('viewTotalDiscountReport') }}">View Total Discount Amount Report</a></li>
                        <li><a href="{{ url_for('viewAverageDiscountReport') }}">View Average Discount Amount Report</a></li>
                    </ul>
                </li>


                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit Discounts
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('createDiscount') }}">Add New Discount</a></li>
                        <li><a href="{{ url_for('updateDiscount') }}">Update Existing Discount</a></li>
                        <li><a href="{{ url_for('deleteDiscount') }}">Delete Discount</a></li>

                    </ul>
                </li>


                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Edit Menu
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ url_for('createFoodMenu') }}">Add To Menu</a></li>
                        <li><a href="{{ url_for('updateFoodMenu') }}">Update The Menu</a></li>
                        <li><a href="{{ url_for('deleteFoodMenu') }}">Delete From Menu</a></li>

                    </ul>
                </li>
                  {% endif %}


                  <li><a href="{{ url_for('menu') }}"> Menu</a></li>
                  <li><a href=#> Order</a></li>
                  <li><a href="{{ url_for('inventory') }}">Inventory</a></li>
                  <li><a href="{{ url_for('reservation') }}">Reservations</a></li>


                  
                  <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Account
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                      <li><a href="{{ url_for('account') }}">My Account</a></li>
                      <li><a href="{{ url_for('logout') }}">Logout</a></li>

                    </ul>
                </li>
                  


                {% else %}
                  <li><a href="{{ url_for('login') }}"> Login</a></li>
                {% endif %}
              </ul>
            </div>
        </nav>
        <br><br><br><br>

        {% with messages = get_flashed_messages(with_categories=true) %}
          {% if messages %}
            <ul>
            {% for category, message in messages %}
            <div class="flash alert alert-{{ category }}">
                <li>{{ message }}</li>
            </div>
            {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}
        {% block content %}{% endblock content %}
        <div class="footer container-fluid text-center" style="text-decoration:none; position:fixed;">
            <br>
            <p>© 2022 Horizon Restaurant. All rights reserved &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href=#>Privacy Statement</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Horizon Restaurant</p>
        </div>
      </body>
</html>