{% extends "layout.html" %} 
{% block content %}
<script>
  function showPassword() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
<!--Login Form-->
<form action="/login/" method="post">
  <section class="vh-100">
    <div class="container h-100">
      <div class="row-d-flex justify-content-center">
        <div class="login-form-container col-11 col-m-11 col-x-11">
          <h1 style="font-weight: bold">Login To Your Account</h1>
          <div class="register-form">
            <br>
            <div class="form-group">
              <label for="code">Employee Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
              <input required style="color:black" id="code" class="code" name="code" size="30" value="{{request.form.code}}"><br>
            </div>
            <div class="form-group">
              <label for="password">Password:<br></label>
              <input required style="color:black" type="password" id="password" class="password" name="password" size="30" value="{{request.form.password}}"><br>
              <input type="checkbox" onclick="showPassword()">Show Password
            </div>
            <input style="color:black" type="submit" value="Log In"><br><br>            
          </div>
        </div>
      </div>
    </div>
  </section>
</form>
{% endblock content %}