{% extends "layout.html" %}
{% block content %}


<h1 class = "title">Orders</h1>


<div class = "reservation-holder">

    <table>

        <tr>
            <th class = "text-center" style = "width: 10%;">Table Number</th>
            <th class = "text-center" style = "width: 20%;">Status</th>
            <th class = "text-center" style = "width: 10%;">Price</th>
            <th class = "text-center" style = "width: 30%;">Start Time</th>
            <th class = "text-center" style = "width: 30%;">Ready Time</th>
        </tr>

                {% for i in range(len): %} 
                    <tr>
                        <td> {{tableNumber[i]}} </td>              
                        <td> {{status[i]}} </td>
                        <td> £{{price[i]}} </td>
                        <td> {{startTime[i]}} </td>
                        <td> {{readyTime[i]}} </td>
                    </tr>
                {% endfor %}
    
    </table>

</div>

<div class = "reservation-options">

    <div class = "AdminBox">

    <h3 class="txt-size text-center pt-3">Order Options</h3>

    <a href="{{ url_for('createTableNumber') }}">
        <button type="button">Create An Order</button>
    </a>
    <a href="{{ url_for('updateOrder') }}">
        <button type="button">Update An Order</button>
    </a>
    <a href="{{ url_for('deleteOrder') }}">
        <button type="button">Delete An Order</button>
    </a>
    </div>
</div>


</div>



{% endblock content %}