{% extends "layout.html" %} 
{% block content %}


<div class = "StandardBox">

  <h2 class="text-center pt-3 heading">Receipt</h2> <br>

  <h3>Receipt Number: <h3> <br>

    <table border=1 style="color:rgb(255, 255, 255)" class="center">
        <tr>
            <th class = "text-center" style = "width: 30%;">Name &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Price &nbsp;&nbsp;</th>

    </table> <br>

  <h3>Total: <h3> <br>


</div>

</div>

</div>




{% endblock content %}