{% extends "layout.html" %} 
{% block content %}


<div class = "StandardBox">

  <h2 class="text-center pt-3 heading">Receipt</h2> <br>

  <h3>Receipt Number: <h3> <br>

    <table border=1 style="color:rgb(255, 255, 255)" class="center">
        <tr>
            <th class = "text-center" style = "width: 30%;">Name &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Order ID &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Restaurant Name &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Total Price &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Table Number &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Date Of Payment &nbsp;&nbsp;</th>
            <th class = "text-center" style = "width: 30%;">Discount value &nbsp;&nbsp;</th>
        </tr>

        <tr>
          <td>{{sameData[0]}}</td>
          <td>{{sameData[1]}}</td>
          <td>{{sameData[2]}}</td>
          <td>{{sameData[3]}}</td>
          <td>{{sameData[4]}}</td>
          <td>{{sameData[5]}}</td>
          <td>{{sameData[6]}}%</td>
        </tr>


    </table> <br>

    <table border=1 style="color:rgb(255, 255, 255)" class="center">
      <tr>
          <th class = "text-center" style = "width: 30%;">Food Name &nbsp;&nbsp;</th>
          <th class = "text-center" style = "width: 30%;">Food Price &nbsp;&nbsp;</th>
      </tr>

      {% for num in range(dataLen)%}
        <tr>
          
            <td>{{diffData[num][0]}}</td>
            <td>{{diffData[num][1]}}</td>
          
        </tr>
      {% endfor %}


  </table>

  <h3>Total: £{{sameData[3]}}<h3> <br>


</div>

</div>

</div>




{% endblock content %}