{% extends "layout.html" %} 
{% block content %}

<div class = "BackButton">
    <a href="{{ url_for('createOrder2') }}">
        <button type="button">Back</button>
    </a>
</div>

<div class="StandardBox">
    <!--Create restaurant form-->
    <h3 class="text-center pt-3 heading">Remove From Order Here</h3> <br>
            
    <form action="/removeFromOrder/" method="post">




        <table border=1 style="color:rgb(255, 255, 255)" class="center">
            <tr>

                <th class = "text-center" style = "width: 30%;">Name</th>
                <th class = "text-center" style = "width: 30%;">Price</th>
                <th class = "text-center" style = "width: 30%;">Select</th>

                {% for i in range(foodLen): %} 
                <tr>
                    <td> {{foodList[i]}} </td>              
                    <td> {{priceList[i]}} </td>
                    <td> <input required type="radio" name="foodListID" value="{{foodListID[i]}}" checked></td>
                </tr>
            {% endfor %}
                
        </table>

        <br>
        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-light black">Confirm</button>
        </div> <br>

    </form>
</div>



{% endblock content %}