{% extends "layout.html" %}
{% block content %}


<h1 class = "title">Reservations</h1>


<div class = "reservation-holder">

    <table>

        <tr>
            <th class = "hidden text-center" style = "width: 20%;">ID</th>
            <th class = "text-center" style = "width: 20%;">Name</th>
            <th class = "text-center" style = "width: 30%;">Tables</th>
            <th class = "text-center" style = "width: 25%;">Start Time</th>
            <th class = "text-center" style = "width: 25%;">End Time</th>
        </tr>

        <!-- LOOK IN MENU.HTML TO HELP PUT IN DATA -->
    
    </table>

</div>

<div class = "reservation-options">

    <div class = "AdminBox">

    <h3 class="txt-size text-center pt-3">Reservation Options</h3>

    <a href="{{ url_for('createReservation') }}">
        <button type="button">Add Reservation</button>
    </a>
    <a href="{{ url_for('updateReservation') }}">
        <button type="button">Update A Reservation</button>
    </a>
    <a href="{{ url_for('deleteReservation') }}">
        <button type="button">Delete A Reservation</button>
    </a>
    </div>
</div>


</div>



{% endblock content %}