{% extends "layout.html" %}
{% block content %}


<h1 class = "title">Reservations</h1>


<div class = "menu-holder">

    <table>

        <tr>
            <th class = "text-center" style = "width: 20%;">ID</th>
            <th class = "text-center" style = "width: 30%;">Tables</th>
            <th class = "text-center" style = "width: 25%;">Start Time</th>
            <th class = "text-center" style = "width: 25%;">End Time</th>
        </tr>

        <!-- LOOK IN MENU.HTML TO HELP PUT IN DATA -->
    
    </table>

</div>



{% endblock content %}