{% extends "layout.html" %} 
{% block content %}

<div class = "StandardBox">

    <h3 class="text-center pt-3 heading">Update Menu Item Here</h3> <br>
  
    <form action="/updateMenu3/" method="post">
  
        <div class="form-group">
            <label for="isAvailable"> Is Available: <br></label>
            <select required style="color:black" name="isAvailable" placeholder = "{{isAvailable}}" value="{{request.form.isAvailable}}">
                {% if isAvailable == "1" %}
                    <option selected="selected" style="color:black" value="1">True</option>
                {% else %}
                    <option style="color:black" value="1">True</option>
                {% endif%}
                {% if isAvailable == "0" %}
                    <option selected="selected" style="color:black" value="0">False</option>
                {% else %}
                    <option style="color:black" value="0">False</option>
                {% endif%}
            </select>
        </div>
  
          <div class = "d-grid mb-3">
            <button type = "submit"  class = "btn btn-light black">submit</button>
            </div> <br>
  
  </div>
  
  </div>
  
  </div>


{% endblock content %}