{% extends "layout.html" %} 
{% block content %} 


<form action="/updateItem2/" method="post">
    <div class="StandardBox">

        <h3 class="text-center pt-3 heading">Choose An Item From The Warehouse To Update</h3> <br>

            <table border=1 style="color:rgb(255, 255, 255)" class="center">
                <tr>
                    <th class="hidden">ItemID</th>
                    <th class = "text-center" style = "width: 40%;" >Item Name &nbsp;&nbsp;</th>
                    <th class = "text-center" style = "width: 25%;">Quantity &nbsp;&nbsp;</th>
                    <th class = "text-center" style = "width: 25%;">Stock Limit</th>
                    <th class = "text-center" style = "width: 10%;">Select</th>

            </table>
                <br><br>


                <form>
                    
                    <div class = "d-grid mb-3">
                        <button type = "submit"  class = "btn btn-light black">Submit</button>
                        </div>
                        <br>
            </div>
    </div>
</form>

<br>


<div class = "reservation-options">
    <div class="AdminBox">
        <h3 class="txt-size text-center pt-3">Order Stock Here</h3> <br><br>
    
        <a href="{{ url_for('updateItem') }}">
            <button type="button">Order Item Stock</button>
        </a>

    </div>
</div>


{% endblock content %}