{% extends "layout.html" %} 
{% block content %} 
<div class = "StandardBox">

    <h3 class="text-center pt-3 heading">Update The Restaurant Here</h3> <br>
  
    <form action="/updateRestaurant3/" method="post">
  
    <div class="form-group">
        <label for="restaurantName">Restaurant Name (at least 4 characters):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
        <input required style="color:black" class="restaurantName" name="restaurantName" size="30" value="{{request.form.restaurantName}}"><br>
    </div>
    <div class="form-group">
        <label for="numberOfTables">Number of Tables (0-100):&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
        <input required style="color:black" id="numberOfTables" min="1" type="number" class="numberOfTables" name="numberOfTables" size="30" value="{{request.form.numberOfTables}}"><br>
    </div>
  
          <div class = "d-grid mb-3">
            <button type = "submit"  class = "btn btn-light black">submit</button>
            </div> <br>
  
  </div>
  
  </div>
  
  </div>



{% endblock content %}