{% extends "layout.html" %} 
{% block content %} 
<form action="/updateUser3/" method="post">
    <section class="vh-100">
      <div class="container h-100">
        <div class="row-d-flex justify-content-center">
          <div class="register-form-container col-11 col-m-11 col-x-11">
              <form action="/updateUser3/" method="post">
              <div class="form-group">
                <label for="code">Employee Code:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input required style="color:black" class="code" name="code" size="30" value="{{request.form.code}}" default="code"><br>
            </div>
            <div class="form-group">
                <label for="base">Base Restaurant:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <select style="color:black" name="base" id="base">
                  {% for i in range(restaurantLen): %}
                    {% if i == BR %}
                        <option selected="selected" value='{{restaurants[i]}}'>{{ restaurants[i] }} </option>
                    {% else %}
                        <option value='{{restaurants[i]}}'>{{ restaurants[i] }}</option>
                    {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div class="form-group">
                <label for="auth">Authorisation Level:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <select style="color:black" name="auth" id="auth">
                  {% if AL == 0 %}
                  <option selected="selected" style="color:black" value="staff">Staff</option>
                  {% else %}
                  <option style="color:black" value="staff">Staff</option>
                  {% endif%}
                  {% if AL == 1 %}
                  <option selected="selected" style="color:black" value="chef">Chef</option>
                  {% else %}
                  <option style="color:black" value="chef">Chef</option>
                  {% endif%}
                  {% if AL == 2 %}
                  <option selected="selected" style="color:black" value="manager">Manager</option>
                  {% else %}
                  <option style="color:black" value="manager">Manager</option>
                  {% endif%}
                  {% if AL == 3 %}
                  <option selected="selected" style="color:black" value="admin">Admin</option>
                  {% else %}
                  <option style="color:black" value="admin">Admin</option>
                  {% endif%}
                </select>
            <div class=submit-button><form><input style="color:black" type="submit" value="Register" size="100"></form></div><br><br>
          </div>
        </div>
        <br><br><br>
      </section>
    </form>
{% endblock content %}