{% extends "layout.html" %} 
{% block content %}

<div class="StandardBox">
    <!--Create restaurant form-->
    <h3 class="text-center pt-3 heading">View Average Discount Amount Report</h3> <br>
            
    <form action="/totalDiscountAmountReport2/" method="post">

        <div class="form-group">
            <div class="datetime-selector">
                <label class="white" for="startDT">Start Date and Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="date" id="dateStart" name="dateStart" required>
                <p id="startDT" name="startDT"></p>
            </div>
        </div>
            
        <div class="form-group">
            <div class="datetime-selector">
                <label class="white" for="endDT">End Date and Time:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<br></label>
                <input type="date" id="dateEnd" name="dateEnd" required>
                <p id="endDT" name="endDT"></p>
            </div>
        </div>

        {% if authLevel == 'admin': %}
        <div class="form-group">
            <select style="color:black" name="res" id="res">
                {% for restaurant in restaurants %}
                <option value='{{restaurant}}'>{{ restaurant }}</option>
                {% endfor %}
            </select>
        </div>
        {% endif %}

        <div class="d-grid mb-3">
            <button type="submit" class="btn btn-light black">Submit</button>
        </div> <br>

    </form>
</div>
{% endblock content %}