{% extends "base.html" %}
<!-- Andre Barnett - 22025153 -->
{%block body%}

<div class = "title">
  <h1 class = "text-center">Horizon Travels</h1>
</div>


<div class = "">
  <div class = "container ">
      
  <!-- Carousel -->
  <div id="slide" class="carousel slide homeslide" data-bs-ride="carousel">
  
      <!-- Indicators/dots -->
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#slide" data-bs-slide-to="0" class="active"></button>
        <button type="button" data-bs-target="#slide" data-bs-slide-to="1"></button>
        <button type="button" data-bs-target="#slide" data-bs-slide-to="2"></button>
      </div>
    
      <!-- The slideshow/carousel -->
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="{{url_for('static', filename = 'newbackground1.jpg')}}" alt="Image" class="d-block w-100">
          <h5 class = "text-center textcustom">Explore the Beauty of the World With Horizon Travels!</h5>
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename = 'newbackground2.jpg')}}" alt="Image" class="d-block w-100">
          <h5 class = "text-center textcustom">The Sky is the Limit! Affordable Flights for Everyone!</h5>
        </div>
        <div class="carousel-item">
          <img src="{{url_for('static', filename = 'newbackground3.jpg')}}" alt="Image" class="d-block w-100">
          <h5 class = "text-center textcustom">Experience an Amazing Holiday With Your Family, Friends or Even Yourself!</h5>
        </div>
      </div>
    
      <!-- Left and right controls/icons -->
      <button class="carousel-control-prev" type="button" data-bs-target="#slide" data-bs-slide="prev">
        <span class="carousel-control-prev-icon"></span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#slide" data-bs-slide="next">
        <span class="carousel-control-next-icon"></span>
      </button>
    </div>
  </div>
  </div>
  
  <div class = "aboutus">
    <h2 class = "text-center"> About Us</h2>
    <p class = "text-center"> Here at Horizon Travels we strive to make travel available to everyone and to provide a great service! We use simple and understandable layout to make bookings simple and more faster then ever! We want travel to be affordable so offer huge discounts when you book in advance! Our sign up service is simple to use and free so what are you waiting for! </p>
  
    <h3 class = "text-center pt-5">FAQ</h3>
  
    <h5 class = "text pt-3">Which are the cheapest days to fly?</h5>
    <p>Friday tends to be the cheapest day to fly, while the most expensive day is Tuesday. Flying on a Friday instead of a Tuesday can potentially lead to savings of up to 15% on average according to historical data.*</p>
  
    <h5 class = "text pt-3">What day are flights the cheapest?</h5>
    <p>The cheapest day to book flights is Sunday, with savings of up to 15% available on average compared with flight booking on Friday, the most expensive day, according to historical data*.</p>
  
    <h5 class = "text pt-3">Is it cheaper to buy a plane ticket at the last minute?</h5>
    <p>It's generally not a good idea to buy a plane ticket at the last minute because there may not be a ticket available when booking so close to departure. Also, prices tend to increase</p>
  
    <h5 class = "text pt-3">What to look out for when booking a flight?</h5>
    <p>Several factors are essential when booking a flight, including flight times, stopovers, luggage policies and airlines. Fortunately, you can set preferences for these features and check each individual flight for all its relevant policies before you finalise your booking. Don't forget to check the destination airport as well to make sure it's the closest one to your ultimate destination.</p>
  
    <h5 class = "text pt-3">Why should I book with Horizon Travels?</h5>
    <p>We provide good advice, cheap flights, and a simple way to book flights.</p>
  
{%endblock%}