{% extends "base.html" %}  
<!-- Extends the layout from the base html -->

{%block body%}
<body>
    <div class = "name">
    
        
        <h1>Inventory</h1>
        
      </div>
    
    </body>

    <table style="width: 60%">
      <tr>
        <th style="width: 15%">ID</th>
        <th style="width: 50%">Item</th>
        <th style="width: 35%">Stock</th>
      </tr>
      <tr>
        <td>1</td>
        <td>Bread</td>
        <td>5</td>
        
      </tr>
      <tr>
        <td>2</td>
        <td>Chicken Wings</td>
        <td>2</td>
        
      </tr>
      <tr>
        <td>3</td>
        <td>Tables</td>
        <td>14</td>
        
      </tr>
      <tr>
        <td>4</td>
        <td>Chairs</td>
        <td>35</td>
        
      </tr>
      <tr>
        <td>5</td>
        <td>Spoons</td>
        <td>58</td>
        
      </tr>
      <tr>
        <td>6</td>
        <td>Forks</td>
        <td>70</td>
        
      </tr>
      <tr>
        <td>7</td>
        <td>Big Cups</td>
        <td>41</td>
        
      </tr>
      <tr>
        <td>8</td>
        <td>Small Cups</td>
        <td>37</td>
        
      </tr>
      <tr>
        <td>9</td>
        <td>Dishes</td>
        <td>51</td>
        
      </tr>
      <tr>
        <td>10</td>
        <td>Toilet Roll</td>
        <td>19</td>
        
      </tr>


{%endblock%}