{% extends "base.html" %}  
<!-- Extends the layout from the base html -->


{%block body%}

  <body>
    <div class = "name">
    
        
        <h1>Menu</h1>
        
      </div>
    
      <table style="width: 80%">
        <tr>
          <th style="width: 10%">No.</th>
          <th style="width: 20%">Item</th>
          <th style="width: 60%">Description</th>
          <th style="width: 10%">Price</th>
        </tr>
        <tr>
          <td>1</td>
          <td>Pizza</td>
          <td>A cheese and tomato pizza</td>
          <td>£10.00</td>
        </tr>
        <tr>
          <td>2</td>
          <td>Chicken Wings</td>
          <td>Wings of a chicken</td>
          <td>£8.00</td>
        </tr>
        <tr>
          <td>3</td>
          <td>Burger</td>
          <td>Beef patty with lettuce, tomato, and cheese</td>
          <td>£12.00</td>
        </tr>
        <tr>
          <td>4</td>
          <td>Spaghetti Bolognese</td>
          <td>Spaghetti with meat sauce</td>
          <td>£11.00</td>
        </tr>
        <tr>
          <td>5</td>
          <td>Caesar Salad</td>
          <td>Romaine lettuce, croutons, Parmesan cheese, and Caesar dressing</td>
          <td>£9.00</td>
        </tr>
        <tr>
          <td>6</td>
          <td>Fish and Chips</td>
          <td>Deep-fried fish fillets with French fries</td>
          <td>£10.50</td>
        </tr>
        <tr>
          <td>7</td>
          <td>Tacos</td>
          <td>Soft or hard tortillas filled with seasoned meat, lettuce, cheese, and salsa</td>
          <td>£9.50</td>
        </tr>
        <tr>
          <td>8</td>
          <td>Sushi</td>
          <td>Assorted fresh raw fish with rice</td>
          <td>£13.00</td>
        </tr>
        <tr>
          <td>9</td>
          <td>Steak</td>
          <td>Grilled steak served with mashed potatoes and vegetables</td>
          <td>£15.00</td>
        </tr>
        <tr>
          <td>10</td>
          <td>Vegetable Curry</td>
          <td>Assorted vegetables cooked in a spicy curry sauce</td>
          <td>£10.00</td>
        </tr>

        
      </table>
      
    


      

    </body>



{%endblock%}