{% extends "base.html" %}  
<!-- Extends the layout from the base html -->

{%block body%}
<body>
<div class = "name">

    
    <h1>Account</h1>
    
  </div>


<div class = "menubox">
  <table>
    <tr>
      <th>Company</th>
      <th>Contact</th>
      <th>Country</th>
    </tr>
    <tr>
      <td>Alfreds Futterkiste</td>
      <td>Maria Anders</td>
      <td>Germany</td>
    </tr>
    <tr>
      <td>Centro comercial Moctezuma</td>
      <td>Francisco Chang</td>
      <td>Mexico</td>
    </tr>
  </table>



</div>


</body>


{%endblock%}